@tailwind base;
@tailwind components;
@tailwind utilities;

body { padding: 0; margin: 0 }

/* 针对竖屏手机的适配 */
@media (max-width: 768px) and (orientation: portrait) {
    canvas {
      width: 100vw;
      height: 100vh;
      aspect-ratio: auto;
    }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black; /* 描边宽度为 2px，颜色为黑色 */
  }
}

.custom-border-stretch {
  border: 0.5em solid transparent;
  border-image: url('../public/ss.png') 20 stretch; /* stretch 使边框图片拉伸 */
}